@font-face {
  font-family: 'RolloutSemiboldOblique';
  src: url('../assets/fonts/RolloutSemiboldOblique-m2DM9.ttf') format('opentype');
}

@font-face {
  font-family: 'RolloutSemibold';
  src: url('../assets/fonts/RolloutSemibold-drdER.ttf') format('opentype');
}

@font-face {
  font-family: 'RolloutBold';
  src: url('../assets/fonts/RolloutBold-woZXz.ttf') format('opentype');
}

@font-face {
  font-family: 'RolloutBoldOblique';
  src: url('../assets/fonts/RolloutBoldOblique-7OqMV.ttf') format('opentype');
}

/* Estilização global */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #edf0ff; 
  font-family: 'RolloutSemibold', sans-serif;
  scroll-behavior: smooth;
}

/* Container principal */
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333;
}


/* Navegação */
.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0 20px;
  position: relative;
}

.nav ul li a {
  color: #FBC241;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease all;
}

.nav ul li a:hover {
  color: #ffd466;
  box-shadow: 0 5px 0 #FBC241 inset;
}

.nav ul li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #FBC241;
  transition: width 0.3s;
}

.nav ul li:hover::after {
  width: 100%;
}

/* Seções */
section {
  padding: 0px 0px;
}

/* Títulos principais */
h1, h2, h3, h4, h5, h6 {
  font-family: 'RolloutBold', sans-serif;
  margin-bottom: 20px;
  color: #417AFB;
}

/* Texto comum */
p {
  font-family: 'RolloutSemibold', sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #FBC241;
  padding: 1rem;
  height: 50px;
  position: fixed;
  width: 33.33%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 30px;
}

.navbar ul {
  list-style: none;
  display: flex;
  width: 100%; 
  justify-content: space-around; 
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 1rem;
  color: #1157c9;
  text-decoration: none;
  font-weight: bold;
  font-family: 'RolloutBold', sans-serif;
  font-size: xx-large;
  transition: 0.3s ease;
}

.navbar li:hover {
  text-decoration: underline;
  color: #021b49;
}


/* Quando a tela for menor que 1024px (tablet/celular) */
@media (max-width: 1024px) {
  .navbar {
    width: 100%; 
    justify-content: center; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1px;
  }

  .navbar ul {
    flex-direction: row; 
    align-items: center;
    gap: 1rem; /* Espaço entre os links */
  }

  .navbar li {
    margin: 0.5rem 0;
    font-size: x-large;
  }
}


/* Cabeçalho*/
.home {
  min-height: 100vh;
  padding: 5px 20px 40px; 
  text-align: center;
  background: url('../assets/fundohome.png') no-repeat center center;
  background-size: cover;
  color: white;
  font-family: 'RolloutSemibold', sans-serif;
  box-sizing: border-box;
}

/*
.home-imagem {
  width: 65%; 
  height: auto;
  display: block;
  margin: 20px auto; 
  border-radius: 30px; 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); 
  transition: opacity 0.5s ease-in-out; 
  opacity: 0.85; 
}*/

.home h1, .home p {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 0rem;
  margin-top: 10rem;
  color: #FBC241;
}

.home p {
  font-size: 1.2rem;
  line-height: 1.6;
  padding-top: 10px ;
  padding-bottom: 40px;
  font-size: x-large;
  max-width: 800px;
  margin: 0 auto;
  color: #feefdc;
}

/* Página Sobre Mim */
.sobre {
  padding: 80px 20px;
  background-color: #edf0ff;
  color: #333;
  text-align: center;
}

.sobre h1 {
  font-size: 2.5rem;
  color: #417AFB;
  margin-bottom: 40px;
}

.sobre-info {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  font-family: 'RolloutSemibold', sans-serif;
  line-height: 1.8;
}

.sobre-info p {
  margin-bottom: 15px;
  font-size:x-large;
}

.sobre-info strong {
  color: #417AFB;
}

.sobre-imagem {
  width: 50%; 
  height: auto;
  display: block;
  margin: 20px auto; 
  border-radius: 30px; 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); 
  transition: opacity 0.5s ease-in-out; 
  opacity: 0.85;
  margin-bottom: 40px;
}

/*pagina projetos*/

.projetos-texto {
  text-align: center;
}

.projetos-texto p {
  font-size: x-large ;
}

.projetos-texto h1 {
  font-size: 2.5rem ;
}
