.projetos-container {
  padding: 200px;
  padding-right: 300px;
}

.projetos-lista {
  border: 2px solid #1157c9;
  max-height: 600px; 
  overflow-y: auto; /* Scroll vertical */
  overflow-x: hidden; /*desativar scroll horizontal */
  padding-right: 10px; 
  background-color: #eef0fb; 
}

/* Barra de rolagem */
.projetos-lista::-webkit-scrollbar {
  width: 6px;
}

.projetos-lista::-webkit-scrollbar-thumb {
  background-color: #274EAC;
  border-radius: 3px;
}

.projeto-item {
  display: flex;
  align-items: flex-start; /* alinhamento no topo */
  justify-content: space-between;
  padding: 10px;
  /*border-bottom: 2px solid #FBC241;*/
  gap: 10px; 
}

.projeto-imagem {
  width: 200px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0; 
}

.projeto-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.projeto-titulo {
  display: flex; 
  flex-direction: column; 
  font-weight: bold;
  flex-grow: 1;
  font-family: 'RolloutSemibold', sans-serif;
  color: #274EAC;
  font-size: x-large;
}

.projeto-descricao {
  font-weight: normal; 
  font-family: 'RolloutSemibold', sans-serif;
  color: #1c1c1b;
  font-size: large; 
  margin-top: 8px; 
  line-height: 1.5; 
}

.projeto-botao {
  background-color: #FBC241;
  width: 40px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  flex-shrink: 0; 
}

.projeto-botao:hover {
  background-color: #cb9d32;
}

.projeto-icone {
  color: #1157c9;
  font-size: 20px;
}

@media (max-width: 768px) {
.projetos-container {
  padding: 20px
}

.projetos-lista {
  border: 2px solid #1157c9;
  max-height: 600px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  padding-right: 10px; 
  background-color: #eef0fb; 
}

/* Barra de rolagem*/
.projetos-lista::-webkit-scrollbar {
  width: 6px;
}

.projetos-lista::-webkit-scrollbar-thumb {
  background-color: #274EAC;
  border-radius: 3px;
}

.projeto-item {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
  padding: 10px;
  /*border-bottom: 2px solid #FBC241;*/
  gap: 10px; 
}

.projeto-imagem {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0; 
}

.projeto-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.projeto-titulo {
  display: flex; 
  flex-direction: column; 
  font-weight: bold;
  flex-grow: 1;
  font-family: 'RolloutSemibold', sans-serif;
  color: #274EAC;
  font-size: large;
}

.projeto-descricao {
  font-weight: normal; 
  font-family: 'RolloutSemibold', sans-serif;
  color: #1c1c1b;
  font-size:small; 
  margin-top: 8px; 
  line-height: 1.5; 
}

.projeto-botao {
  background-color: #FBC241;
  width: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  flex-shrink: 0; 
}

.projeto-botao:hover {
  background-color: #cb9d32;
}

.projeto-icone {
  color: #1157c9;
  font-size: 20px;
}
}
